@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');
* {
    font-family: 'Open Sans', sans-serif;
    /*familia tipográfica*/
    margin: 0;
    padding: 0;
    text-decoration: none;
}
body {
    font-family: Montserrat;
    font-weight: 400;
    line-height: 1.7;
    background-size: cover;
    background-attachment: fixed;

}
nav{
    position: sticky;
    background: #9c408a;
    margin: auto;
    padding: 23px 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

nav ul {
    display: flex;
    margin-left: 10px;
}
nav ul li  {
    list-style: none;
    /*margin*/
    margin-right: 20px;
}
nav ul li a {
    color: white;
}
img{
    max-width: 100%;
}

.titulo{
    text-align: center;
    padding: 10px;
    margin: 10px;
}
.categorias{
    padding: 1rem;
    margin: 1rem;
}

.search input{
    width:100%;
    padding: 10px;
    border: 1px solid var(--navbar-button-color);
    box-shadow: 0 6px 12px rgba(0,0,0,.1);
    border-radius: 4px;
}
.container {
    max-width: 1160px;
    margin: auto;
    padding: 0%;
}
.group{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    
}
.categoria{
    width:12.5% ;    
    padding: 20px 5px;
    background-color: #efefef;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    text-align: center;
    font-size: 16px;
    margin: 1rem;
}
.col-md-2{
    width: 12.5%;
}
.col-md-3{
    width: 25%;
}
.col-md-4{
    width: 33.333%;
}
.col-md-6{
    width: 50%;
   }
