@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');

* {
    font-family: 'Open Sans', sans-serif;
    /*familia tipográfica*/
    margin: 0;
    padding: 0;
    text-decoration: none;
}
a{
    text-decoration: none;
}
body {
    font-family: Montserrat;
    font-weight: 400;
    line-height: 1.7;
    background-size: cover;
    background-attachment: fixed;

}

header {
    background: #9c408a;
    width: 100%;
}

nav {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

nav ul {
    display: flex;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    color: white;
    text-decoration:none;
}

img {
    width: 100%;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 2rem;
}

.logo {
    padding: 0.5rem;
    box-sizing: border-box;
}

.titulo {
    text-align: center;
    padding: 10px;
    margin: 10px;
    font-size: 26px;
    color: #A81B8D;
}

.box-cart {
    box-sizing: border-box;
    max-width: 100%;
    background-color: purple;
    display: table;
}

.cart {
    width: 20px;
    box-sizing: border-box;
    margin-right: 5px;
}

span.count {
    color: black;
    background-color: yellow;
    padding: 4px;
    border-radius: 50px;
    box-sizing: border-box;
}

.search input {
    width: 100%;
    padding: 6px;
    border: 1px solid;
    box-shadow: 0 6px 12px rgba(0, 0, 0, .1);
    border-radius: 4px;
    box-sizing: border-box;
}

.container {
    max-width: 1400px;
    margin: auto;
}

.group {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;

}

.categoria {
    padding: 20px 5px;
    background-color: #efefef;
    border-radius: 50px;
    font-weight: bold;
    text-align: center;
    font-size: 14px;
    margin: 0.5rem;
    box-sizing: border-box;
}

.categoria a {
    color: black;
}

.categoria:hover {
    background-color: #A81B8D;
    cursor: pointer;
}

.btnAdd {
    border-top: none;
    padding: 10px 3rem 8px;
    text-align: center;
    background-color: #A81B8D;
    border-radius: 50px;
    color: white;
}

.btnAdd:hover {
    background-color: #feee00;
    color: #9c408a;
}

.text-product {
    flex: 1 1;
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    font-weight: 700;
}

.producto {
    display: flex;
    flex-direction: column;
    height: 461px;
}

.content-botton {
    padding: 10px;
}

.col-md-2 {
    width: 16.5%;
}

.col-md-3 {
    width: 25%;
}

.col-md-4 {
    width: 33.333%;
}

.col-md-6 {
    width: 50%;
}

.col-md-12 {
    width: 100%;
}

@media (max-width: 500px) {
    .col-sm-2 {
        width: 12.5%;
    }

    .col-sm-4 {
        width: 33.333%;
    }

    .col-sm-6 {
        width: 45%;
    }

    .col-sm-12 {
        width: 100%;
    }

    .col-sm-8 {
        width: 66.6666%;
    }
}